In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

data_train = pd.read_csv('train.csv')
data_train.drop('id', axis=1, inplace=True)
data_test = pd.read_csv('test.csv')
data_test.drop('id', axis=1, inplace=True)

data_original = pd.read_csv('calories.csv')
data_original = data_original.rename(columns={'Gender': 'Sex'})
data_original.drop('User_ID', axis=1, inplace=True)

TARGET_COL = 'Calories'

data_train.sample(5)

           Sex  Age  Height  Weight  Duration  Heart_Rate  Body_Temp  Calories
629014    male   25   187.0    92.0       3.0        80.0       38.7       5.0
344645    male   37   184.0    85.0       9.0        89.0       39.5      36.0
163166    male   60   175.0    82.0       4.0        88.0       38.9      19.0
79438     male   44   162.0    63.0       8.0        79.0       39.5      22.0
316273  female   22   178.0    79.0      29.0       110.0       40.6     184.0

In [8]:
def find_duplicates(df):
    full_duplicates = df[df.duplicated()]
    feature_duplicates = df[df.duplicated(subset=df.columns.difference(['Calories']))]
    return len(full_duplicates), len(full_duplicates)/len(df), len(feature_duplicates), len(feature_duplicates)/len(df)

In [9]:
print('train', find_duplicates(data_train))
print('test', find_duplicates(data_test))
print('original', find_duplicates(data_original))

train (2841, 0.003788, 7842, 0.010456)
test (918, 0.003672, 918, 0.003672)
original (1, 6.666666666666667e-05, 1, 6.666666666666667e-05)

In [10]:
print(data_original[data_original.duplicated()])

          Sex  Age  Height  Weight  Duration  Heart_Rate  Body_Temp  Calories
12852  female   28   164.0    59.0       9.0        90.0       39.5      40.0

In [11]:
len(data_original)

15000